form {
  border: 4px solid var(--primary-color);
  width: 700px;
  margin: auto;
  padding: 50px 30px;
}

form textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

form label {
  color: var(--white);
}

@media screen and (max-width: 768px) {
  form {
    width: 100%;
  }
}